body {
  background-color:  #cccccc;
}

h1{
  text-align: center;
  text-shadow: 2px 1px #00ff40;
  font-size: 57px;
  font-family: cursive;
  margin: 111px 0px 23px;
  color:rgb(129 126 126 / 40%);
}

.word-vowel-counter{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(129 126 126 / 40%);
  border-radius: 9px;
  height: auto;
  margin: 0px 89px;
  padding: 5px 11px; 
}

label{
  font-size: smaller;
  margin: 0px;
  color: rgba(87, 83, 83, 0.4);
}

#paragraph-text:focus{
  outline-color: #065fd4;
}

#paragraph-text{
  font-size: 13px;
  resize: vertical;
  height: 207px;  
  margin: 7px 7px 5px;
  padding: 7px;
  border: 1px solid rgb(129 126 126 / 40%);
  border-radius: 5px;
  background-color: #cccccc;
}

.count-word-vowel-reset-button-container{
  flex-direction: row;
  text-align: center;
  margin: 3px;  
}

#count-word-vowel:hover, #reset:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(31, 29, 29, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#count-word-vowel{
  background-color: rgb(94,32,230);
}

#reset{
  background-color: rgb(215,0,21);
}

#count-word-vowel, #reset{ 
  font-size: 25px; 
  font-weight: bolder;
  border: 0px;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;  
}

.display-count-for-vowel-word{
  text-align: center;
  font-weight: bolder;
  margin: 47px ;
  color: black;
}

#vowel-count, #word-count{
  font-size: 31px;
  font-weight: bolder;
}

#vowel-count{
  margin: 0px 0px 8px;
  color: rgb(48,176,199);
}

#word-count{
  margin: 0px;
  color: rgb(162,132,94);
}



